@use "./variables" as *;

.booking {
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80vw;
  height: 50vh;
  margin-top: 7em;
  margin-left: 9em;

  &__container {
    background-color: $light-gray;
    padding: 2em;
    border-radius: 15px;
    display: flex;
  }
  .date {
    margin-top: 5.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    height: 90px;
    button {
      border-radius: 8px;
      outline: none;
      padding-inline: 1em;
      background-color: $off-white;
      transition: all ease-in-out 350ms;
      &:focus,
      &:hover,
      .focus {
        background-color: rgba($orange, 0.7);
      }
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .meeting-selection button {
    display: inline;
    background-color: $off-white;
    outline: none;
    border-radius: 8px;
    padding-inline: 1em;
    padding-block: 0.5em;
    margin-right: 1em;
    transition: all ease-in-out 350ms;
    &:focus,
    &:hover,
    .focus {
      background-color: rgba($orange, 0.7);
    }
    margin-bottom: 2em;
  }
  .left {
    width: 60%;
    margin: 1em;
    > p {
      width: 60ch;
    }
  }
  .confirm {
    width: 200px;
    padding-block: 0.6em;
    border-radius: 8px;
    margin-top: 2em;
    outline: none;
    position: absolute;
    right: 10.5em;
    background-color: rgba($blue, 0.7);
    color: white;
    transition: all 350ms ease-in-out;
    // opacity: 0;
    &:focus,
    &:hover,
    .focus {
      background-color: rgba($blue, 1);
    }
  }
}

.show-confirm {
  //   opacity: 1;
  color: blue;
}
